
<div class="d-flex justify-conent-center">
  <div style="width: 50%; height: 400px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="container">
  <h1>All dogs</h1>
  <div class="row">
    <% @dogs.each do |dog| %>
      <div class="col-xs-12 col-sm-6 col-lg-4 col-sm-offset-1">
        <div class="card mb-3">
          <% if dog.photo.attached? %>
            <%= cl_image_tag dog.photo.key, height: 320, width: 240, class:"card-img-top", crop: :fill %>
          <% end %>
          <div class= "card-all">
            <h5 class="card-title"><%= dog.name %></h5>
            <p class="card-text"><%= dog.breed %></p>
            <%= link_to "View dog", dog_path(dog.id), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
