<div class="container-fluid pe-0">
  <div class="row me-0">
    <div class="col-lg-8">
      <h1>Take a look at our friends!</h1>
      <div class="row">
        <% @dogs.each do |dog| %>
          <div class="col-xs-12 col-sm-6 col-lg-4 col-sm-offset-1">
            <div class="card mb-3">
              <%= cl_image_tag dog.photo.key, class: "img-fluid", height: 320, width: 300, crop: :fill %>
              <div class= "card-body">
                <h4 class="mb-0">
                  <%= dog.name %>
                </h4>
                <p class="fs-6 text-muted"><%= dog.breed %></p>
                <div class="text-end">
                  <%= link_to "View dog", dog_path(dog.id), class: 'btn btn-primary stretched-link btn-sm' %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-4 pe-0 me-0">
      <div style="height: 400px;"
        data-controller="mapbox"
        data-mapbox-markers-value="<%= @markers.to_json %>"
        data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>

</div>
