<div class="container my-5">
  <h1>
  DOG IMAGE
  </h1>
  <p>
    <strong>Name:</strong>
    <%= @dog.name%>
  </p>
  <p>
    <strong>breed:</strong>
    <%= @dog.breed%>
  </p>
  <p>
    <strong>age:</strong>
    <%= @dog.age %>
  </p>
  <p>
    <strong>sex:</strong>
    <%= @dog.sex%>
  </p>
  <p>
    <strong>size:</strong>
    <%= @dog.size%>
  </p>
  <p>
    <strong>neutered:</strong>
    <%= @dog.neutered%>
  </p>

  <%= link_to "Start Booking", new_dog_booking_path(@dog.id), class: 'btn btn-primary' %>
</div>
